server:
  port: 8080
  servlet:
    context-path: /cinema
  error:
    include-message: always         # Hiển thị thông báo lỗi chi tiết trong response
    include-binding-errors: always  # Hiển thị lỗi validate (VD: @Valid)
spring:
  mail:
    # Cấu hình Mailtrap lấy từ ảnh của bạn
    host: sandbox.smtp.mailtrap.io   #
    port: 2525                       # (Khuyên dùng port này để tránh bị Render chặn)
    username: 21b43b76f6f7b5         #
    password: "0d31051dccfed4" # Lưu ý: Copy password thật từ trang web (chỗ ****fed4)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.messaging: DEBUG

    org.springframework.web.servlet: DEBUG
    org.springframework.boot.autoconfigure: DEBUG
    com.fasterxml.jackson: DEBUG
jwt:
  signerKey: "XFM9kjb9Kx5UPtq2q9A1zN6TODrw+4T1KM1T4GpPW3dM+hCFdqMG/OjpieWehRco"
management:
  endpoints:
    web:
      exposure:
        include: mappings, health  # Hiển thị các endpoint và trạng thái